/* src/components/Header.css */
.header {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: #0c4a6e; 
  }
 
  .logo-image{
    max-width: 10%; 
    max-height: 10%; 
    width: 70%;
    margin-right: 20rem;
    margin-left: 5rem;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .nav-list li {
    position: relative;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #ffffff; 
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .login-button {
    background-color: #fde047; 
    color: #0c4a6e; 
  }
  
  .register-button {
    background-color: #0ea5e9; 
    color: white; 
  }
  
  .nav-list a:hover {
    opacity: 0.8; 
    cursor: pointer;
  }
  