
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; 
  max-width: 100%;
  font-size: 0.9rem;
}

code {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  list-style: none;
}



